/*********BIENTO FINI**********/


body{
   
  font-family: 'Montserrat', sans-serif;

}


:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(10rem);
}

figure {
    
    position: relative;
    width: 100%;
    height: 400%;
    display:flex;
    transition: .2s;
    margin: -0% -0%;
     z-index: 11;
     scroll-behavior: smooth;
   
}


h4{
   position: relative;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
 font-family: 'Montserrat', sans-serif;
   z-index: 10;
    height: 95%;
    
   
   
   
  }
img{
    
    width:100%;
    height: 100%;
    opacity: 100%;
    border-radius: 5px;
    z-index: 10;
    
}




/* ***************************   BLOCKCHAIN  **************************** */

/* ***************************   PART 1  **************************** */
#container_1_jv{
    right: 0;
    top: 0;
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -2;
    display:inline-grid;
    overflow: hidden;
    
 
}

#container_1_jv ul{
    position: absolute;
    z-index: 600;
    width: 30%;
    height: 1%;
     right: 3%;
    margin: 0;
    padding-top: 10px;
   
    
    
}


#transition{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    z-index: 1500;
   
    
    
        
    
}


#transition_page_1{
    
    position: absolute;
    width: 50%;
    height: 100%;
background: rgb(2,1,23);
background: linear-gradient(90deg, rgba(2,1,23,1) 0%, rgba(4,4,46,1) 100%);
    top: 0;
    left: 0;
    z-index: 1200;
     color: white;
    transition: 1s;

    
}

#transition_page_1 h5{
    position: absolute;
    font-size: 3em;
    top: 35%;
    right: 0;
    padding: 5% 1% 5% 5%;
    border: 1px solid white;
    border-right: none;
}


#transition_page_2 h5{
    position: absolute;
    font-size: 3em;
    top: 35%;
    border: 1px solid white;
    border-left: none;
    padding: 5% 5% 5% 1%;
}

#transition_page_2{
    
    position: absolute;
    width: 50%;
    height: 100%;
background: rgb(4,4,46);
background: linear-gradient(90deg, rgba(4,4,46,1) 0%, rgba(5,5,60,1) 100%);
    top: 0;
    right:0;
    z-index: 1200;
    color: white; 
    transition: 1s;
    
    
}


ul li{
   position: absolute;
    float: left;
    width:30%;
    height: 35px;
     display: table-cell;
    align-content:center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-right: -2em;
    font-weight: bold;
     transition: .8s;
      transition: .8s;
    text-decoration: none;
    color: white;
    
}

#nav_1{
    padding-left: 5%;
   left: 0;  
     display: grid;
     cursor: pointer;

   
    
  
}

#nav_2{
    left: 30.5%;
    cursor: pointer;
      display: grid;
   
}


#nav_3{
   left: 61%;
         display: grid;
     cursor: pointer;

   
}

ul li:hover{
    color: #03e9f4;
  text-shadow: 0px 0px 5px #03e9f4,
                0px 0px 15px #03e9f4,
                0px 0px 25px #03e9f4,
                 0px 0px 35px #03e9f4;
   
    
    
}

a{
    transition: .8s;
    text-decoration: none;
    color: grey;
    
}


#tittle_jv{
    z-index: 15;
    position: absolute;
    color: #03e9f4;
    z-index: 350;
    left: 25%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
      
   
    
    
    
}

#tittle_jv p{
    position: absolute;
       font-size: 2.3em;
    top: 30%;
    left: 20%;
    margin: 0;
    
    
    
}



#tittle_jv h5{
   
    font-size: 2.9em;
    margin: 0;
    
}




#background_color_btc{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(34,12,110);
    background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    
    
}





#next{
    position: absolute;
    z-index: 90;
    left: 57%;
    bottom: 4%;
    width: 8%;
    height: 5%;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    transition: .5s;
    outline: none;
     cursor: pointer;
    transform: rotateY(200%);
         box-sizing: content-box;
    
}

#next:hover{
    background-color: white;
    color: #150840;
    box-shadow: 0px 0px 5px #03e9f4,
                0px 0px 15px #03e9f4,
                0px 0px 25px #03e9f4;
                
    
}


#previous{
    position: absolute;
    z-index: 90;
    left: 38%;
    bottom: 4%;
    width: 8%;
    height: 5%;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    transition: .5s;
    outline: none;
     cursor: pointer;
      transform: rotateY(200%);
         box-sizing: content-box;
}

#previous:hover{
    background-color: white;
    color: #150840;
      box-shadow: 0px 0px 5px #03e9f4,
                0px 0px 15px #03e9f4,
                0px 0px 25px #03e9f4;
                
    
}

#reload_button{
    position: absolute;
    z-index: 90;
     display: block;
    left: 3%;
    top: 2.5%;
    width: 12%;
    height: 5%;
    background: none;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    
    outline: none;
    transform: translateY(-150%);
         box-sizing: content-box;
}


#reload_button a{
    z-index: 150;
    color: white;
}

#reload_button:hover a{
    z-index: 150;
    color: black;
}


#reload_button:before{
   position: absolute;
    content: '';
     border: 1px solid transparent;
    height: 100%;
    width: 0%;
    right:50%;
    top: 0;
    z-index: -50;
    box-sizing: border-box;
    transition: .3s;

}


#reload_button:after{
   position: absolute;
    content: '';
    border: 1px solid transparent;
    height: 100%;
    width: 0%;
    top: 0;
      z-index: -50;
    left:50%;
    transition: .3s;
}

#reload_button:hover:before {
    width: 50%;
    background: white;
}
#reload_button:hover:after {
    width: 50%;
    background: white;
}



#scroll_jv{
    scroll-behavior: smooth;
     height: 100%;
    width: 100%;
    transition: 1s;
   
   
}
   
#point{
   position: absolute;
     width: 1px;
    height: 1%;
    bottom: 6%;
    left: 48.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
        border:none;
     background: white;
    outline: none;
     cursor: pointer;
    box-shadow: 0px 0px 15px #03e9f4;
    
}
#point2{
   position: absolute;
     width: 1px;
    height: 1%;
   bottom: 6%;
    left: 50.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
     border:none;
     background: grey;
   outline: none;
     cursor: pointer;
}
   
#point3{
     position: absolute;
     width: 1px;
    height: 1%;
   bottom: 6%;
    left: 52.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
        border:none;
     background: grey;
     outline: none;
     cursor: pointer;
}
   
#point4{
     position: absolute;
     width: 1px;
    height: 1%;
    bottom: 6%;
    left: 54.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
     border:none;
    background: grey;
     outline: none;
     cursor: pointer;
}
   


#content_1_jv{
    
    position: absolute;
    width: 100%;
        height :100%;
    color: #b72714;
    opacity:none;
    z-index: 150;
    scroll-behavior: smooth;
  
    
}


#content_lecture{
    z-index: 15;
    width: 35%;
    height: 70%;
    position: absolute;
     z-index: 150;
    top:20%;
    left: 5%;
    color: white;
    text-align: center;
  
}

#content_lecture p{
    width: 100%;
    height: 70%;
    position: absolute;
     z-index: 150;
    color: white;
    font-size: 1.45em;
    text-align: center;
    font-size: 1.7em;
}

#one{
  position: absolute;
    top: 0;
    z-index: 1;
       transition: 1s;
    
    
   

}

#two{
    position: absolute;
    z-index: -1;
    top: 100%;
       transition: 1s;
    
   
}

#three{
    position: absolute;
    z-index: -1;
      top: 200%;
       transition: 1s;
    
  
}

#four{
    position: absolute;
    z-index: -1;
      top: 300%;
       transition: 1s;
     
    
}

#master_1{
    position: absolute;
    z-index: 200;
    width: 20%;
    height: 50%;
    right: 4%;
    top: 30%;
    
    
        
}


#master_content{
       position: absolute;
    z-index: 220;
    width: 99%;
    height: 99%;
       background-size: cover;
  background-blend-mode: overlay;
       transform-style: preserve-3d;
      transition: transform 1s;
 
    

   
        
    
}

#master_1:hover #master_content{
   transform: rotateY(0.5turn);
    transition: 1s;
}

#master_back{
     position: absolute;
    z-index: 200;
    top: 0%;
    width: 100%;
    height: 100%;
     transform-style: preserve-3d;
      transition: transform 1s;
    transform: rotateY(0.5turn);
    background: #030e21;
    border-radius: 5px;  
    text-align: center;
    color: white;
  
}

#master_content:before{
    content: '';
    position: absolute;
       width: 99%;
    height: 99%;
   
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}

#master_content:hover:before{
    transform: rotateY(1turn);
    transition: 1s;
     transform-style: preserve-3d;
}



#master_back:before{
    content: '';
    position: absolute;
    left: 0%;
       width: 99%;
    height: 99%;
    border: 1px solid white;
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}
#master_back h3{
    padding: 5% 5%;
     transform: var(--level-two);
       
}

#master_back p{
    padding: 5% 5%;
       transform: var(--level-two); 
}

/* **************** PARTIE 2 **************** */

#content_2_jv{
      
    position: relative;
    width: 100%;
        height :100%;
    color: #b72714;
    opacity:none;
    z-index: 150; 
    scroll-behavior: smooth;
    
}


#background_color_btc_2{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 100%;
    
    
}





#tittle_jv_2{
    z-index: 15;
    position: absolute;
    color: #03e9f4;
    z-index: 350;
    left: 25%;
    top: 100%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
      
   
    
    
    
}

#tittle_jv_2 p{
    position: absolute;
       font-size: 2.3em;
    top: 30%;
    left: 20%;
    margin: 0;
    
    
    
}



#tittle_jv_2 h5{
   
    font-size: 2.9em;
    margin: 0;
    
}




#master_content_2{
       position: absolute;
    z-index: 600;
    width: 100%;
    height: 100%;
       background-size: cover;
  background-blend-mode: overlay;
       transform-style: preserve-3d;
      transition: .8s;
    

   
        
    
}


#master_2{
    position: absolute;
    width: 25%;
    height: 50%;
    right: 2%;
    top: 130%;
    
}


#master_2:hover #master_content_2{
     z-index:600;
   transform: rotateY(0.5turn);
    transition: .8s;
}

#master_back_2{
     position: absolute;
    z-index: 600;
    top: 0%;
    width: 100%;
    height: 100%;
     transform-style: preserve-3d;
      transition:  .8s;
    transform: rotateY(0.5turn);
    background: #030e21;
    border-radius: 5px;  
    text-align: center;
    color: white;
  
}

#master_content_2:before{
    content: '';
    position: absolute;
       width: 99%;
    height: 99%;
    border: 1px solid white;
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}

#master_back_2 h3{
    padding: 5% 5%;
     transform: var(--level-two);
       
}

#master_back_2 p{
    padding: 5% 5%;
       transform: var(--level-two); 
}
#content_lecture_2{
      z-index: 15;
    width: 40%;
    height: 70%;
    position: absolute;
     z-index: 150;
    top:135%;
    left: 5%;
    color: white;
    text-align: center;
   
    
    

  
}

#content_lecture_2 p{
  
    font-size: 1.5em;
}


#background_color_btc_2{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    opacity: 0.55;
    top: 100%;
    
    
}

/* ********************************* PART 3 ********************************/

#content_3_jv{
      
    position: absolute;
    display: block;
    width: 100%;
        height :100%;
    color: #b72714;
    opacity:none;
    z-index: 150;
    scroll-behavior: smooth;
    
}



#tittle_jv_3{
    z-index: 15;
    position: absolute;
    color: #03e9f4;
    z-index: 350;
    left: 25%;
    top: 200%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
      
   
    
    
    
}

#tittle_jv_3 p{
    position: absolute;
       font-size: 2.3em;
    top: 30%;
    left: 20%;
    margin: 0;
    
    
    
}



#tittle_jv_3 h5{
   
    font-size: 2.9em;
    margin: 0;
    
}





#content_lecture_3 p{
    width: 25%;
    height: 70%;
    position: absolute;
     z-index: 150;
    top:225%;
    left: 5%;
    color: white;
    font-size: 1.45em;
    text-align: center;
}

#background_color_btc_3{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 200%;
    
    
}


/**************************** PART 4 **********************/

#content_4_jv{
      
    position: absolute;
    width: 100%;
        height :100%;
    
    color: #b72714;
    opacity:none;
    z-index: 150;
    
}

#content_4_jv h5{
    position: absolute;
    top: 1510%;
    color: #03e9f4;
    font-size: 3.5em;
    border-radius: 5px;
}




#hello{
    position: absolute;
    width: 80%;
   height: 70%;
    background: black;
    z-index: 5000;
    left: 10%;
    opacity: 0.90;
    color: white;
     z-index: 150;
    top:315%;
    color: white;
  
    
}

#hello p{
    top:2%;
    
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 5% 5%;
    
}

#background_color_btc_4{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,0,78);
background: radial-gradient(circle, rgba(255,0,78,1) 0%, rgba(111,36,129,1) 27%, rgba(57,22,126,1) 52%, rgba(49,15,103,1) 65%, rgba(36,9,71,1) 76%, rgba(37,7,70,1) 80%, rgba(30,4,47,1) 88%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 300%;
    
    
}


/***************** MEDIA QUERIES ***********************/

@media all and (min-width:1250px) and (max-width:1500px) and (min-height:600px)and (max-height:900px){
    
    
    /********** PART 1 **********/
    
    
    #content_lecture p{
        font-size: 1.4em;
        top: 4%;
    }   
    
    
    #tittle_jv h5{
        font-size: 2.5em;
        
    }   
    
    
    
    /********** PART 2 **********/
    
    
    #content_lecture_2 p{
        font-size: 1.4em;
    }  

       
    
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 2.1em;
        
    }
    
    
     /********** PART 3 **********/
    
    
      #content_lecture_3 p{
        font-size: 1.4em;
          width: 40%;
    }   
     
    
    #tittle_jv_3 h5{
        font-size: 2.5em;
        
    }
    
    
    
     /********** PART 4 **********/
    
    
      #hello p{
        font-size: 1.5em;

    }   
    
}


@media all and (min-width:900px) and (max-width:1250px) and (min-height:600px)and (max-height:900px){
    
      
    /********** PART 1 **********/
    
    
    #content_lecture p{
        font-size: 1.2em;
        top: 4%;
    }   
    
    
    #tittle_jv h5{
        font-size: 2.3em;
        
    }   
    
      #tittle_jv p{
        font-size: 2em;
        
    }   
    
  
    
    
    /********** PART 2 **********/
    
    
    #content_lecture_2 p{
        font-size: 1.2em;
    }  

       
    
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
         top:50%;
         font-size: 1.8em;
    }
    
    
    
     /********** PART 3 **********/
    
    
      #content_lecture_3 p{
        font-size: 1.2em;
          width: 40%;
    }   
     
    
    #tittle_jv_3 h5{
        font-size: 2.5em;
        
    }
    
   
    
    
    
     /********** PART 4 **********/
    
    
      #hello p{
        font-size: 1.3em;

    } 
    
    
    
    /****************BOUTON****************/
    
      #next{
        left: 60%;
        width: 10%;
       
    }
    
    #previous{
        left: 35%;
         width: 10%;
    }
    
    #point{
        left: 47%;
        
    }
    
      #point2{
        left: 50%;
        
        
    }
    
    
      #point3{
        left: 53%;
        
        
    }
    
    
      #point4{
       left: 56%;
         
        
    }
    
    
}


@media all and (min-width:700px) and (max-width:1050px) and (min-height:600px)and (max-height:900px){
    
    
    #next{
        font-size: 0.65em;
    }
    
     #previous{
        font-size: 0.65em;
    }
    
    #tittle_jv_2 p{
        top: 30%;
    
    }
    
}



@media all and (min-width:1400px) and (max-width:1980px) and (min-height:600px)and (max-height:900px){
    
    
    #next{
        font-size: 0.65em;
    }
    
     #previous{
        font-size: 0.65em;
    }
    
     
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 2.4em;
        
    }
    
      #tittle_jv_2 p{
         top:60%;
         font-size: 2.2em;
    }
    
    
}

@media all and (min-width:700px) and (max-width:1050px) and (min-height:400px)and (max-height:600px){

   
   /************** PART 1 *************/ 
    
    
#content_lecture p{
        font-size: 1em;
        top: 4%;
    }  
    
    #tittle_jv h5{
        font-size: 1.8em;
    }
    
     #tittle_jv p{
        font-size: 1.6em;
    }
    
       /************** PART 2 *************/ 
    
    
    
    #content_lecture_2{
        top: 120%;
    }
    
    
    #content_lecture_2 p{
        font-size: 1em;
        top: 20%;
     
    }   
   
    #hello p{
        font-size: 1.1em;
       
    }   
    
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
         top:50%;
         font-size: 1.8em;
    }
       /************** PART 3 *************/ 
    #tittle_jv_3 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_3 p{
         font-size: 1.8em;
    }
    
     #content_lecture_3 p{
        font-size: 1em;
        width: 40%;
        
    }   
    
       /************** PART 4 *************/ 
    
    /*************BOUTON************/
    
     #next{
        font-size: 0.55em;
    }
    
     #previous{
        font-size: 0.45em;
    }   
    
    #reload_button{
        font-size: 0.5em;
    }
    
      
    
}


@media all and (min-width:1400px) and (max-width:1980px) and (min-height:400px)and (max-height:600px){
   
#content_lecture p{
        font-size: 1.2em;
        top: 4%;
    }   
    #content_lecture_2 p{
        font-size: 1.2em;
     
    }   
    #content_lecture_3 p{
        font-size: 1.2em;
        width: 40%;
        
    }   
    #hello p{
        font-size: 1.1em;
       
    }   
    
     #next{
        font-size: 0.55em;
    }
    
     #previous{
        font-size: 0.45em;
    } 
    
    
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
         top:30%;
         font-size: 1.8em;
    }
}


@media all and (min-width:1000px) and (max-width:1400px) and (min-height:400px)and (max-height:660px){
 
    
   /************** PART 1 *************/ 
    
    
#content_lecture p{
        font-size: 1.2em;
        top: 4%;
    }  
    
    #tittle_jv h5{
        font-size: 1.8em;
    }
    
     #tittle_jv p{
        font-size: 1.6em;
    }
    
       /************** PART 2 *************/ 
    
    
    
    #content_lecture_2{
        top: 120%;
    }
    
    
    #content_lecture_2 p{
        font-size: 1.2em;
        top: 20%;
     
    }   
    #content_lecture_3 p{
        font-size: 1.2em;
        width: 40%;
        
    }   
    #hello p{
        font-size: 1.3em;
       
    }   
    
    #tittle_jv_2 {
        left: 20%;
    }
    
    
    
    #tittle_jv_2 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
         top:50%;
         font-size: 1.8em;
    }
       /************** PART 3 *************/ 
    #tittle_jv_3 h5{
        font-size: 1.6em;
        
    }
    
      #tittle_jv_3 p{
         font-size: 1.8em;
    }
       /************** PART 4 *************/ 
    
    /*************BOUTON************/
    
     #next{
        font-size: 0.55em;
    }
    
     #previous{
        font-size: 0.45em;
    }   
    
    #reload_button{
        font-size: 0.5em;
    }
    
      
    
}

@media all and (min-width:1245px) and (max-width:1850px) and (min-height:900px)and (max-height:1100px)
{
    
    #tittle_jv_2 h5{
        font-size: 2em;
    } 
    
      
    #tittle_jv_2 p{
        font-size: 1.5em;
    } 
    
}



@media all and (min-width:800px) and (max-width:1245px) and (min-height:900px)and (max-height:1100px)
{
    
    #tittle_jv_2 h5{
        font-size: 1.5em;
    } 
    
      
    #tittle_jv_2 p{
        font-size: 1.5em;
    } 
    
}

@media all and (min-width:670px) and (max-width:900px) and (min-height:750px)and (max-height:1100px){
      
    /********** PART 1 **********/
    
    
    #content_lecture p{
        font-size: 1.2em;
        width: 150%;
        left: 50%;
        top: 10%;
    }   
    
    #tittle_jv{
        top: 10%;
       left: 3%; 
        
    }
    
    #tittle_jv h5{
        font-size: 2em;
        
    }   
    
      #tittle_jv p{
        font-size: 1.7em;
        
    }   
    
  
    
    
    /********** PART 2 **********/
    #content_lecture_2{
         padding: 5%;
         left: 15%;
        top: 125%;
            width: 60%;
    }
    
    #content_lecture_2 p{
        font-size: 1.4em;
       
    }  

    #master_2{
        visibility: hidden;
    } 
    
    #tittle_jv_2 {
        left: 2%;
        top: 112%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_2 h5{
       padding-top: 1%;
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
       left: 0%;
       
         font-size: 1.8em;
    }
    
    
    
     /********** PART 3 **********/
   #content_lecture_3{
         padding: 5%;
         left: 55%;
        top: 225%;
            width: 50%;
    }
    
    #content_lecture_3 p{
        font-size: 1.2em;
         left: 30%;
        width: 50%;
       
    }  

  
    
    #tittle_jv_3 {
        left: 2%;
        top: 212%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_3 h5{
       padding-top: 1%;
        font-size: 1.8em;
        
    }
    
      #tittle_jv_3 p{
       left: 0%;
       
         font-size: 1.6em;
    }
    
    
    
    
    
     /********** PART 4 **********/
    
    
      #hello p{
        font-size: 1.1em;

    } 
    
    
    
    /****************BOUTON****************/
    
    ul {
        
        width: 100%;
        left: 30%;
        top: 2%;
         padding-left: 15%;
        padding-right: 15%;
    }
  
    ul li{
        
          width: 20%;      
      
    }
    
      #next{
        left: 65%;
        width: 15%;
       
    }
    
    #previous{
        left: 30%;
         width: 15%;
    }
    
    #point{
        left: 49.5%;
        
    }
    
      #point2{
        left: 52.5%;
        
        
    }
    
    
      #point3{
        left: 55.5%;
        
        
    }
    
    
      #point4{
       left: 58.5%;
         
        
    }
    
    
}


@media all and (min-width:670px) and (max-width:900px) and (min-height:0px)and (max-height:750px){  /********** PART 1 **********/
    
    
    #content_lecture p{
        font-size: 1em;
        width: 22em;
        left: 9em;
        top: 1em;
    }   
    
    #tittle_jv{
        top: 4em;;
       left: 1.5em; 
        
    }
    
    #tittle_jv h5{
        font-size: 2em;
        
    }   
    
      #tittle_jv p{
        font-size: 1.7em;
        
    }   
    
    #reload_button{
        font-size: 1%;
    }
    
    
    /********** PART 2 **********/
    #content_lecture_2{
         padding: 5%;
         left: 15%;
        top: 125%;
            width: 60%;
    }
    
    #content_lecture_2 p{
        font-size: 1.1em;
       
    }  

    #master_2{
        visibility: hidden;
    } 
    
    #tittle_jv_2 {
        left: 2%;
        top: 112%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_2 h5{
       padding-top: 1%;
        font-size: 1.6em;
        
    }
    
      #tittle_jv_2 p{
       left: 0%;
       
         font-size: 1.8em;
    }
    
    
    
     /********** PART 3 **********/
   #content_lecture_3{
         padding: 5%;
         left: 55%;
        top: 225%;
            width: 50%;
    }
    
    #content_lecture_3 p{
        font-size: 1.2em;
         left: 30%;
        width: 50%;
       
    }  

  
    
    #tittle_jv_3 {
        left: 2%;
        top: 212%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_3 h5{
       padding-top: 1%;
        font-size: 1.8em;
        
    }
    
      #tittle_jv_3 p{
       left: 0%;
       
         font-size: 1.6em;
    }
    
    
    
    
    
     /********** PART 4 **********/
    
    
      #hello p{
        font-size: 1.1em;

    } 
    
    
    
    /****************BOUTON****************/
    
    ul {
        
        width: 100%;
        left: 30%;
        top: 2%;
         padding-left: 15%;
        padding-right: 15%;
    }
  
    ul li{
        
          width: 20%;      
      
    }
    
      #next{
        left: 65%;
        width: 15%;
          box-sizing: content-box;
       
    }
    
    #previous{
        left: 30%;
         width: 15%;
             box-sizing: content-box;
    }
    
    #point{
        left: 49.5%;
        
    }
    
      #point2{
        left: 52.5%;
        
        
    }
    
    
      #point3{
        left: 55.5%;
        
        
    }
    
    
      #point4{
       left: 58.5%;
         
        
    }
    
    
}


@media all and (min-width:400px) and (max-width:670px) and (min-height:750px)and (max-height:1100px){
    
        
    /********** PART 1 **********/
    
    
    #content_lecture p{
        font-size: 1.1em;
        width: 150%;
        left: 50%;
        top: 10%;
    }   
    
    #tittle_jv{
        top: 10%;
       left: 3%; 
        
    }
    
    #tittle_jv h5{
        font-size: 1.9em;
        
    }   
    
      #tittle_jv p{
        font-size: 1.6em;
        
    }   
    
  
    
    
    /********** PART 2 **********/
    #content_lecture_2{
         padding: 5%;
         left: 15%;
        top: 125%;
            width: 60%;
    }
    
    #content_lecture_2 p{
        font-size: 1.3em;
       
    }  

    #master_2{
        visibility: hidden;
    } 
    
    #tittle_jv_2 {
        left: 2%;
        top: 112%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_2 h5{
       padding-top: 1%;
        font-size: 1.5em;
        
    }
    
      #tittle_jv_2 p{
       left: 0%;
       
         font-size: 1.7em;
    }
    
    
    
     /********** PART 3 **********/
   #content_lecture_3{
         padding: 5%;
         left: 55%;
        top: 225%;
            width: 50%;
    }
    
    #content_lecture_3 p{
        font-size: 1.1em;
         left: 30%;
        width: 50%;
       
    }  

  
    
    #tittle_jv_3 {
        left: 2%;
        top: 212%;
        width: 100%;
        
    }
    
    
    
    #tittle_jv_3 h5{
       padding-top: 1%;
        font-size: 1.7em;
        
    }
    
      #tittle_jv_3 p{
       left: 0%;
       
         font-size: 1.5em;
    }
    
    
    
    
    
     /********** PART 4 **********/
    
    
      #hello p{
        font-size: 1em;

    } 
    
    
    
    /****************BOUTON****************/
    
    ul {
        
        width: 110%;
        left: 30%;
        top: 2%;
         padding-left: 20%;
        padding-right: 20%;
    }
  
    ul li{
        
          width: 20%;      
      
    }
    
      #next{
          
        font-size: 0.7em;
        left: 65%;
        width: 15%;
           letter-spacing: normal;
  
    }
    
    #previous{
        padding: 1%;
         font-size: 0.7em;
        left: 30%;
         width: 15%;
        letter-spacing: normal;
    }
    
    #reload_button{
        font-size: 0.5em;
    }
    
    #point{
        
        left: 49.5%;    
    }
    
      #point2{
          
        left: 52.5%;   
    }
    
    
      #point3{
          
        left: 55.5%;        
    }
    
    
      #point4{
          
       left: 58.5%;               
    }
      

}